@charset "UTF-8";

body {
	background-color: #295D72;
	color: #FFF;
	width: 500px;
	height: 400px;
	font-size: 20px;
}

.container {
	width: 90%;
	height: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header{
	margin: 5px 0;
}
#article {
	width: 100%;
	color: #000;
	font-size: 16px;
}
.value__container{
	margin: auto;
	display: flex;
	flex-direction: row;
}
#words_result {
	margin-right: 50px;
}
#timer__container{
	margin-right: 50px;
}
.button__container{
	width: 100%;
}
.btn {
	padding:2px;
	width: 49%;
	font-size: 24px;
	border: none;
}

.btn-start{
	background-color: #49a9d4;
	color: #FFF;
}
.btn-stop{
	background-color: #FFA035;
	color: #FFF;
}
.transparent {
	opacity: 0.5;
}
